<%- include('partials/header'); %>

    <div class="main">
        <div class="container">
            <div class="blog">
                <h2 class="h2" style="margin-bottom: 20px;">Edit Blog</h2>
                <form action="/edit/<%- blog._id %>" enctype="multipart/form-data" method="POST">
                    <label class="cate" for="category">Category: <%- blog.category %></label>
                    <div class="banner" style="margin-top:20px;background-image: url('<%- blog.bannerImage %>');">
                        <input value="<%- blog.bannerImage %>" name="bannerImage" type="text" id="banner-image-text" hidden />
                        <input type="file" accept="image/*" id="banner-upload" hidden/>
                        <label for="banner-upload" class="banner-upload-btn"><img src="/assets/images/upload.png"
                                alt="upload banner"></label>
                    </div>

                    <div class="blog">
                        <textarea  name="title" type="text" class="title" placeholder="Blog title..."><%- blog.title %></textarea>
                        <textarea name="description" type="text" class="article" placeholder="Start writing here..."
                            style="height:500px"><%- blog.description %></textarea>
                    </div>

                    <div class="blog-options">
                        <button type="submit" class="btn publish-btn">Edit</button>
                        <input type="file" accept="image/*" id="image-upload" hidden>
                        <label for="image-upload" class="btn upload-btn">Upload Image</label>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <%- include('partials/footer'); %>